body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background-color: #ffff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    color: #ffff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #007acc;
}

.voltar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0095f6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}